* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    font-family: "Microsoft YaHei","sans-serif";
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}
