* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    font-family: "Microsoft YaHei","sans-serif";
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}