/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent; /*清除点击默认高亮效果*/
    -webkit-box-sizing: border-box; /*以你的border开始计算你的宽度*/
}
body {
    font-size: 14px;
    font-family: "Microsoft YaHei","sans-serif";
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
/* 头部导航 */
header {
    width: 100%;
    height: 60px;
    /* background-color: blanchedalmond; */
}
.nav_left{
    box-sizing: border-box;
    width: 29.16%;
    height: 44px;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    color: #00cf8c;
    padding: 8px 0 0 50px;
}
.nav_right {
    width: 70.83333333%;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    /* background-color: brown; */
}
.nav_right ul {
    height: 60px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    text-align: center;
    padding-right: 50px;
}
.nav_right ul li {
    box-sizing: border-box;
    height: 100%;
    width: 15%;
    width: 100px;
    line-height: 60px;
    font-size: 14px;
    font-family: SourceHanSansSC-regular;
}
.nav_right .nav_active1 {
    box-sizing: border-box;
    text-decoration: none;
    color: #00cf8c;
    border-bottom: 2px solid #00cf8c;
    padding-bottom: 5px;
    cursor: pointer;
}
.nav_right .nav_active:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: #00cf8c;
    border-bottom: 2px solid #00cf8c;
    padding-bottom: 5px;
    cursor: pointer;
}
/* 底部 */
footer {
    width: 100%;
    height: 150px;
    background-color: #00cf8c;
    position: relative;
}
footer .footText {
    width: 100%;  
}
footer .footText{
    width: 60%;
    margin: auto;
    /* background-color: hotpink; */
}
footer .footText ul{
    height: 30px;
}
footer .footText ul li{
    margin-top: 20px;
    height: 20px;
    float: left;
    padding-left: 50px;
}
footer .footText ul li a{
    color: white;
}
.footText .box1 {
    width: 60%;
    height: 30px;
    box-sizing: border-box;
    /* background-color: tomato; */
    margin-top: 35px;
    margin-left: 12%;
    color: white;
}
.footText .box2 {
    width: 60%;
    height: 30px;
    box-sizing: border-box;
    /* background-color: tomato; */
    margin-left: 20%;
    color: white;
}
.wxgzh {
    position: absolute;
    top: 15%;
    right: 8%;
}