.tianliang_layout {
    max-width: 100%;
    min-width: 1800px;
    margin: 0 auto;
    position: relative;
    height:auto;
    /* border: 1px solid red; */
}
main {
    width: 60%;
    height: 500px;
    /* background-color: wheat; */
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 80px;
    color: #515a6e;
}
main h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
main div {
    width: 90%;
    margin: 10px auto;
    height: 36px;
    line-height: 36px;
    color: #91878a;
    text-align: center;
    font-size: 14px;
}
