*{
    margin: 0;
    padding: 0;
}
.tianliang_layout {
    max-width: 100%;
    min-width: 1800px;
    margin: 0 auto;
    position: relative;
    height:auto;
    /* border: 1px solid red; */
}

/* 轮播图 */
.shuffling {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    background-color: chocolate;
}
/* 新闻动态 */
.news {
    width: 100%;
    height: auto;
}
.newsTop {
    width: 90%;
    margin: auto;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.newsBottom {
    width: 90%;
    height: 400px;
    margin: auto;
    padding-left: 50px;
    box-sizing: border-box;
    /* background-color: crimson; */
}
.newsBottomL {
    width: 20%;
    height:235px;
    /* background-color: blue; */
    box-sizing: border-box;
    border-right: 3px solid grey;
    float: left;
}
.newsBottomR {
    width: 80%;
    height: 235px;
    /* background-color: chartreuse; */
    box-sizing: border-box;
    float: right;
}
/* 新闻动态左边 */
.newsBottomL ul {
    width: 100%;
    height: 150px;
}
.newsBottomL ul li {
    width: 98px;
    height: 50px;
    margin-top: 20px;
    position: relative;
}
.newsBottomL ul li input {
    width: 20px;
    height: 20px;
}
.newsBottomL ul li .select {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 8px;
    left: 4px;
    border-radius: 15px;
    background-color: blue;
    z-index: 3;
}
.newsBottomL span {
    font-size: 16px;
    padding-left: 7px;
}
.newsBottomR {
    width: 80%;
    /* height: 270px; */
    /* overflow: hidden; */
}
.newsBottomRT {
    box-sizing: border-box;
    width: 80%;
    height: 200px;
    margin-top: 80px;
    margin-left: 50px;
    border-bottom: 2px solid gray;
}
.newsBottomRT .media_body66 {
    padding-left: 20px;
} 
.newsBottomRT .a1 {
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease;
}
.newsBottomRT .p1 {
    margin: 30px 0;
    color: #6f6f6f;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.newsBottomRT .a2{
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease;
}
.newsBottomRB {
    height: 60px;
}
.paging1 {
    margin-right: 20%;
}

/* 固定定位 */
.tlFixed {
    width: 70px;
    height: auto;
    text-align: center;
    position: fixed;
    top: 460px;
    right: 20px;
}
.tlFixedT {
    width: 100%;
    height: 100%;
    background-color: #e6f7ff;
    margin-bottom: 3px;
}
.tlFixed a {
    color:#00cf8c;
    text-decoration: none;
}
.tlFixed a:hover {
    color: wheat;
}

.tlFixedB{
    width: 100%;
    height: 100%;
    background-color: #e6f7ff;
}
.box9 {
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: black;
    top: 0px;
    right: 71px;
    /* display: none; */
}
.box9 img {
    width: 300px;
    height: 150px;
}
/* .tlFixedB:hover .box9{
    display: block;
} */