.tianliang_layout {
    max-width: 100%;
    min-width: 1800px;
    margin: 0 auto;
    position: relative;
    height:auto;
    /* border: 1px solid red; */
}

/* 背景图 */

.banner {
    width: 100%;
    height: 400px;
    background: url(../images/创新创业大赛.jpg) center center no-repeat;
}
/*  主体部分*/
main {
    width: 85%;
    height: 1000px;
    background-color: wheat;
    margin: auto;
    box-sizing: border-box;
    padding-top: 30px;
}
main .img1 {
    box-sizing: border-box;
    width: 50%;
    height: 80px;
    /* background-color: rgb(red, green, blue); */
    background: url(../images/2.jpg) no-repeat ;
}
.mainContent {
    box-sizing: border-box;
    width: 80%;
    height: 300px;
    /* background-color: saddlebrown; */
    margin-left: 20%;
    color: #101010;
    font-family: SourceHanSansSC-regular;
}
.mainContent h3 {
    text-align: center;
    padding: 10px 0px 0px 0px;
    /* box-sizing: border-box; */
}
.xinhuoBox1 {
    width: 90%;
    height: 65px;
    /* background-color: salmon; */
    /* box-sizing: border-box;; */
    padding-top: 20px;
}
.xinhuoBox1 .project_name{
    width: 100%;
    background-color: #b8b5c2;
    text-indent: 16px;
    height: 30px;
    line-height: 30px;
}
.xinhuoBox1 .works {
    width: 100%;
    margin-top: 10px;
    height: 32px;
    /* background-color: sandybrown; */
    box-sizing: border-box;
}
.xinhuoBox1 .works .works_name {
    text-indent: 16px; 
    font-size: 14px;
} 
.xinhuoBox1 .works .works_name span {
    margin-right: 15px;
}
.xinhuoBox1 .works .works_direction {
    font-size: 14px;
    margin-left: 30%;
} 
.xinhuoBox1 .works .works_direction span {
    margin-right: 15px;
    line-height: 32px;
}
.xinhuoBox2 {
    width: 90%;
    margin-top: 40px;
    height: 65px;
    background-color: salmon;
    box-sizing: border-box;;
}
.xinhuoBox2 .project_name{
    width: 100%;
    background-color: #b8b5c2;
    text-indent: 16px;
    height: 30px;
    line-height: 30px;
}